.new-user-address-header
  =render 'signups/sabheader'

.new-user-main
  .new-user-main__box
    .new-user-main__box__title
      住所情報登録
    .new-user-main__box__contents
      = form_for @users_address do |f|
        = render "devise/shared/error_messages", resource: @users_address
        .new-user-main__box__contents__list
          .form__new-user__group
            = f.label "名字", class: "form__new-user__group-text"
            %span.form__new-user__group--alert 必須
            %br/
            = f.text_field :address_first_name, placeholder: "例）山田", class: "def-input"
          .form__new-user__group
            .form__new-user__group-space
            = f.label "名前", class: "form__new-user__group-text"
            %span.form__new-user__group--alert 必須
            %br/
            = f.text_field :address_last_name, placeholder: "例）彩" , class: "def-input"
          .form__new-user__group
            .form__new-user__group-space
            = f.label "名字（かな）", class: "form__new-user__group-text"
            %span.form__new-user__group--alert 必須
            %br/
            = f.text_field :address_first_name_kana, placeholder: "例）やまだ", class: "def-input"
          .form__new-user__group
            .form__new-user__group-space
            = f.label "名前（かな）", class: "form__new-user__group-text"
            %span.form__new-user__group--alert 必須
            %br/
            = f.text_field :address_last_name_kana, placeholder: "例）あや", class: "def-input"
          .form__new-user__group
            .form__new-user__group-space
            = f.label "郵便番号", class: "form__new-user__group-text"
            %span.form__new-user__group--alert 必須
            %br/
            = f.text_field :post_number, placeholder: "1234567", class: "def-input"
          .form__new-user__group
            .form__new-user__group-space
            = f.label "都道府県", class: "form__new-user__group-text"
            %span.form__new-user__group--alert 必須
            %br/
            = f.text_field :prefectures, placeholder: "沖縄県", class: "def-input"
          .form__new-user__group
            .form__new-user__group-space
            = f.label "市町村", class: "form__new-user__group-text"
            %span.form__new-user__group--alert 必須
            %br/
            = f.text_field :city, placeholder: "沖縄市", class: "def-input"
          .form__new-user__group
            .form__new-user__group-space
            = f.label "番地", class: "form__new-user__group-text"
            %span.form__new-user__group--alert 必須
            %br/
            = f.text_field :house_number, placeholder: "胡屋5-7-1", class: "def-input"
          .form__new-user__group
            .form__new-user__group-space
            = f.label "マンション名", class: "form__new-user__group-text"
            %span.form__new-user__group--optional 任意
            %br/
            = f.text_field :building_name, placeholder: "沖縄こどもの国", class: "def-input"
          .form__new-user__group
            .form__new-user__group-space
            = f.label "電話番号", class: "form__new-user__group-text"
            %span.form__new-user__group--optional 任意
            %br/
            = f.text_field :address_phone_number, placeholder: "000-0000", class: "def-input"
          .actions
            = f.submit "次へ進む", class: "nextpage-btn"

.signup-footer
  = render 'signups/sabfooter'


= render "devise/shared/links"