.footer
  .main
    .lists
      .list
        .list__title FURIMAについて
        %ul
          %li  
            = link_to '会社概要（運営会社）', '#', id: 'list__link' 
          %li  
            = link_to 'プライバシーポリシー', '#', id: 'list__link' 
          %li  
            = link_to 'FURIMA利用規約', '#', id: 'list__link'
          %li  
            = link_to 'ポイントに関する特約', '#', id: 'list__link' 

      .list
        .list__title FURIMAを見る
        %ul
          %li  
            = link_to 'カテゴリー一覧', '#', id: 'list__link' 
          %li  
            = link_to 'ブランド一覧', '#', id: 'list__link' 

      .list
        .list__title ヘルプ＆ガイド
        %ul
          %li  
            = link_to 'FURIMAガイド', '#', id: 'list__link' 
          %li  
            = link_to 'FURIMAロゴ利用ガイドライン', '#', id: 'list__link' 
          %li  
            = link_to 'お知らせ', '#', id: 'list__link'

  .content
    = link_to '#', class: 'content__link' do
      = image_tag src='material/logo/logo-white.png', class: 'content__link__logo'
    %p © FURIMA