.list
  = link_to item_path(item.id), class: "list__link" do
    - item.images.first(1).each do |image|
      = image_tag image.src.url, class: "list__image"
    -if item.buyer_id.present? 
      .items-box_photo__sold
        .items-box_photo__sold__inner SOLD
    .details
      = item.name
      .details__info
        %ul
          %li 
            = item.price
            円
          %li
            = icon('fas', 'fas fa-star')
            0
        (税込)
