.wrapper
  = render 'header'
  .main
    .main--vanner
      .content
        .content__info
          人生を変えるフリマアプリ
        .content__text
          FURIMAは誰でも簡単に出品・購入できる<br>フリマアプリです
        .content__btn
          = link_to '#', class: 'content__btn__link' do
            = image_tag src="material/logo/App_Store_Badge.png", class: "content__btn__app"
          = link_to '#', class: 'content__btn__link' do
            = image_tag src="material/logo/google_play.png", class: "content__btn__google"
    .top--info
      %h2.title
        FURIMAが選ばれる３つの理由
      .lists
        .list
          .list__content
            = image_tag src="material/pict/pict-reason-01.jpg", class: "list__content__image"
            %p.number 1
          %h3.subtitle
            %span 3分
            ですぐに出荷
            %p.subtitle__text スマホで入力するだけで簡単に出品できる！
        .list
          .list__content
            = image_tag src="material/pict/pict-reason-02.jpg", class: "list__content__image"
            %p.number 2
          %h3.subtitle
            %span シンプル
            で使いやすい
            %p.subtitle__text めんどくさい入力は必要なく、検索も購入もスムーズ

        .list
          .list__content
            = image_tag src="material/pict/pict-reason-03.jpg", class: "list__content__image__icon"
            %p.number 3
          %h3.subtitle
            手数料
            %span 業界最安
            %p.subtitle__text--last 最大３％でお得に出品&購入！

    .middle--vanner
      .content
        %h2.subtitle
          会員数日本一位
        %p.text
          FURIMAは、フリマアプリで最も人気。<br>
          出品・購入回数も世界最多です！<br>
          欲しかったあの商品に出会えるかもしれません。
        .content__btn
          = link_to '#', class: "content__btn__link" do
            = image_tag src="material/logo/App_Store_Badge.png", class: "content__btn__app"
          = link_to '#', class: "content__btn__link" do
            = image_tag src="material/logo/google_play.png", class: "content__btn__google"

    .middle--info
      %h2.title
        FURIMAの特徴
      .lists
        .list
          .list__content
            = image_tag src="material/icon/icon-01.png", class: "list__content__image"
          %h2.subtitle
            簡単に売り買いできる
          %p.text
            スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
        .list
          .list__content
            = image_tag src="material/icon/icon-03.png", class: "list__content__image"
          %h2.subtitle
            売上金は即日振り込みにて対応
          %p.text
            午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
        .list
          .list_content
            = image_tag src="material/icon/icon-04.png", class: "list__content__image"
          %h2.subtitle
            様々な支払いに対応
          %p.text
            お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
    .picup--contents
      %h2.picup__title
        ピックアップカテゴリー
      .picup__subtitle
        = link_to '#', class: 'picup__subtitle__link' do
          新規投稿商品

      .lists
        = render @items

    / ピックアップブランドを一旦コメントアウト
    -# .picup--contents
    -#   %h2.picup__title
    -#     ピックアップブランド
    -#   .picup__subtitle
    -#     = link_to '#', class: 'picup__subtitle__link' do
    -#       アーカイバ
    -#   .lists
    -#     .list
    -#       = link_to 'http://beourguest.jp/2019/04/27/land-sea-disney-easter-2019-pin-badge-goods/', class: "list__link" do
    -#         = image_tag src="http://beourguest.jp/wp-content/uploads/2019/04/IMG_7949.jpg", class: "list__image"
    -#         .details
    -#           %h3.name
    -#             product3
    -#           .details__info
    -#             %ul
    -#               %li 500円
    -#               %li
    -#                 = icon('fas', 'fas fa-star')
    -#                 0 
    -#             %p （税込）

    -#     .list
    -#       = link_to 'http://beourguest.jp/2019/04/27/land-sea-disney-easter-2019-pin-badge-goods/', class: "list__link" do
    -#         = image_tag src="http://beourguest.jp/wp-content/uploads/2019/04/IMG_7949.jpg", class: "list__image"
    -#         .details
    -#           %h3.name
    -#             product3
    -#           .details__info
    -#             %ul
    -#               %li 500円
    -#               %li
    -#                 = icon('fas', 'fas fa-star')
    -#                 0 
    -#             %p （税込）

    -#     .list
    -#       = link_to 'http://beourguest.jp/2019/04/27/land-sea-disney-easter-2019-pin-badge-goods/', class: "list__link" do
    -#         = image_tag src="http://beourguest.jp/wp-content/uploads/2019/04/IMG_7949.jpg", class: "list__image"
    -#         .details
    -#           %h3.name
    -#             product3
    -#           .details__info
    -#             %ul
    -#               %li 500円
    -#               %li
    -#                 = icon('fas', 'fas fa-star')
    -#                 0 
    -#             %p （税込）
  
  = render 'footer'
  = render 'listing_btn'

