.header__items-show
  = render 'items/header'

.wrapper__items-show
  .item-box
    .item-content
    %h1.item-name
      =@item.name
    .item-main-content
      .photo__box
        %ul.photo__innner
          %li
            - @item.images.first(1).each do |image|
              = image_tag image.src.url, class: "main__image"
            %ul
              - @item.images.each do |image|
                %li
                  = image_tag image.src.url, class: "image__list"
        .sold
      %table.item-detail
        %tbody
          %tr
            %th.item-detail__title
              出品者
            %td.item-detail__content
              = link_to mypage_users_path, class:"item-detail__content__user" do
                =@item.user.nickname
              .item-detail__content__users
                .item-detail__content__users__evaluation-good
                .item-detail__content__users__evaluation-normal
                .item-detail__content__users__evaluation-bad
          %tr
            %th.item-detail__title
              カテゴリー
            %td.item-detail__content
              = @item.category
          %tr
            %th.item-detail__title
              ブランド
            %td.item-detail__content
              = @item.brand
          %tr
            %th.item-detail__title
              サイズ
            %td.item-detail__content
              = @item.size
          %tr
            %th.item-detail__title
              商品の状態
            %td.item-detail__content
              = @item.status
          %tr
            %th.item-detail__title
              配送料の負担
            %td.item-detail__content
              = @item.postage
          %tr
            %th.item-detail__title
              配送の方法
            %td.item-detail__content
              = @item.delivery_way
          %tr
            %th.item-detail__title
              配送元地域
            %td.item-detail__content
              = @item.delivery_area
          %tr
            %th.item-detail__title
              配送日の目安
            %td.item-detail__content
              = @item.delivery_day
    .item-price
      %span.item-price__main
        = "#{@item.price}円"
      %span.item-price__tax
        （税込）
      %span.item-price__fee
        =@item.postage
    - if user_signed_in?
      -if @item.user_id == current_user.id
        %p.item-edit-btn
          = link_to "商品の編集", edit_item_path(@item.id), class: 'item-edit-btn__content'
        %p.item-stop-btn
          = link_to "出品を一旦停止する", "#", class: 'item-stop-btn__content'
        %p.item-destroy-btn
          = link_to "この商品を削除する", item_path(@item.id), method: :delete, class: 'item-destroy-btn__content'
      -else 
        %p.item-buy-btn
          = link_to "購入画面に進む", item_purchase_index_path(@item.id), class: 'item-buy-btn__content'
    - else
      %p.item-buy-btn
        = link_to "購入画面に進む", new_user_session_path, class: 'item-buy-btn__content'
    %p.purchase-message
      この商品はらくらくフリマ便を利用しているため、アプリからのみ購入できます。
    .item-description
      %p.item-description__content
        =@item.description
    .item-button
      .item-button__left
        %button.item-button__left__like
          = icon('far', 'heart', class: 'item-button__left__like__heart')
          %span いいね1
        %button.item-button__left__center
          = icon('far', 'flag', class: 'item-button__left__center__flag')
          %span 不適切な商品の報告
      .item-button__right
        %button.item-button__right
          = link_to '#',class: 'item-button__right__text' do
            = icon('fas', 'shopping-bag', class: 'item-button__right__shopping-bag')
            %span 安心安全への取り組み
  .item-detail-message
    .message-container
      .message-content
        = form_with() do |form|
          %p.message-content__alert
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = form.text_field :text, class: 'message-content__text'
          = form.submit "コメントする", class: 'message-content__btn'
  .product-link
    .previous-product.items-link_to
      = link_to "前の商品へ", "#", class: 'item-btn'
    .next-product.items-link_to
      = link_to "次の商品へ", "#", class: 'item-btn'
  .product-social-media-box
    .text-center
    %ul.social-media-box
      %li.social-media-box__content
        = link_to "#",class: "social-media-box__btn--facebook" do
          = icon('fab', 'facebook-square')
      %li.social-media-box__content
        = link_to "#",class: "social-media-box__btn--twitter" do
          = icon('fab', 'twitter')
      %li.social-media-box__content
        = link_to "#",class: "social-media-box__btn--instagram" do
          = icon('fab', 'instagram')

.footer__items-show
  = render 'items/footer'